/*-- scss:defaults --*/
$body-bg: white !default;
$body-color: black;
$link-color: blue;
$font-family-sans-serif: 'IBM Plex Sans';
$font-family-monospace: 'IBM Plex Sans';

$navbar-bg: #F9F5F1;
$navbar-fg: grey;
$navbar-hl: #5D5B5A;
$h3-font-size: 1.3rem !default;
$body-size: 0.5rem !default;


/*-- scss:rules --*/
@font-face {
    font-family: 'Nova Square';
    src: url('static/fonts/novasquare-regular-webfont.woff2') format('woff2'),
         url('static/fonts/novasquare-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('static/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
        url('static/fonts/IBMPlexSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 56em) {
  html {
    font-size: 1.1em;
  }
}

